
<div class="hide tmplheader">Log in</div>
<form id="labelform" class="form-horizontal">
	<fieldset>
		<div class="control-group">
			<label class="control-label" for="username">Username</label>
			<div class="controls">
				<input class="xlarge" id="username" name="username" placeholder="Username" required="required" value="" type="text">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="password">Password</label>
			<div class="controls">
				<input class="xlarge" id="password" name="password" placeholder="Password" required="required" value="" type="password">
			</div>
		</div>
		<div class="form-actions">
			<div class="btn-group">
				<button id="btn-login" type="submit" class="btn btn-primary save">Log in</button>
			</div>
		</div>
	</fieldset>
</form>
